<article *ngIf="post">
  <mat-card class="post">
    <mat-card-header>
      <div mat-card-avatar class="post__author-img">
        <img [src]="post.author.imgSrc ? post.author.imgSrc : '../../assets/no-avatar.svg'" [alt]="post.author.userName"
          [title]="post.author.userName">
      </div>
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <mat-card-subtitle>{{post.createdAt | date:"MMMM d, YYYY"}}</mat-card-subtitle>

      <button (click)="changeLike(post._id!)" mat-icon-button color="warn">
        <mat-icon *ngIf="post.isLiked">favorite</mat-icon>
        <mat-icon *ngIf="!post.isLiked">favorite_border</mat-icon>
        {{post.likesQuantity}}
      </button>

    </mat-card-header>
    <mat-card-content>
      <h2 class="post__title">{{post.title}}</h2>
      <p class="post__content">{{post.subTitle}}</p>

      <div *ngIf="contentVisible; else hiddenContent" >
        <div>{{post.content}}</div>
      </div>

      <ng-template #hiddenContent>
        <span class="post__link" [routerLink]="['/post', post._id]">Read more...</span>
      </ng-template>

    </mat-card-content>
  </mat-card>
</article>
