<div class="blog-form">
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="blog-form__width-5">

    <h2>Login</h2>

    <div class="input-block">
      <mat-form-field class="auth-form__input" appearance="fill">
        <mat-label>Email</mat-label>

        <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>

        <input matInput type="email" formControlName="email">
      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field class="auth-form__input" appearance="fill">
        <mat-label>Password</mat-label>

        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>

        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>

    <button type="submit" [disabled]="loginForm.invalid || loginForm.disabled" mat-raised-button color="primary">Login</button>
  </form>
</div>
