<article>
  <mat-card class="post">
    <mat-card-header>
      <div mat-card-avatar class="post__author-img">
        <img src="../../assets/no-avatar.svg" [alt]="post.author" [title]="post.author">
      </div>
      <mat-card-title>{{post.author}}</mat-card-title>
      <mat-card-subtitle>{{post.date | date:"MMMM d, YYYY"}}</mat-card-subtitle>

      <button (click)="changeLike(post)" mat-icon-button color="warn">
        <mat-icon *ngIf="post.isLiked">favorite</mat-icon>
        <mat-icon *ngIf="!post.isLiked">favorite_border</mat-icon>
        {{post.likeNumber}}
      </button>

    </mat-card-header>
    <mat-card-content>
      <h2 class="post__title">{{post.title}}</h2>
      <p class="post__content">{{post.content}}</p>
      <div class="post__link"><span>Read more...</span></div>
    </mat-card-content>
  </mat-card>
</article>
