<div class="blog-form">
  <form [formGroup]="postForm" (ngSubmit)="submitPostForm()" class="blog-form__width-8">

    <div class="input-block">
      <mat-form-field class="post-form__input" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title">

        <mat-error *ngIf="formErrors.title">{{formErrors.title}}</mat-error>

      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field class="post-form__input" appearance="fill">
        <mat-label>Subtitle</mat-label>

        <mat-error *ngIf="formErrors.subTitle">{{formErrors.subTitle}}</mat-error>

        <input matInput type="text" formControlName="subTitle">
      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field class="post-form__input" appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput rows="5" formControlName="content"></textarea>

        <mat-error *ngIf="formErrors.content">{{formErrors.content}}</mat-error>

      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field *ngIf="tags | async as tags" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          <mat-option *ngFor="let tag of tags" [value]="tag._id">{{tag._id}}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-loader class="tags-loader" *ngIf="isLoading | async"></app-loader>

    </div>

    <button type="submit" [disabled]="postForm.invalid || postForm.disabled" mat-raised-button color="primary">Save</button>
  </form>
</div>
