<div *ngIf="tags | async as tags; else loading" class="post-form">
  <form [formGroup]="postForm" (ngSubmit)="submitPostForm()">

    <div class="input-block">
      <mat-form-field class="post-form__input" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title">

        <mat-error *ngIf="formErrors.title">{{formErrors.title}}</mat-error>

      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field class="post-form__input" appearance="fill">
        <mat-label>Subtitle</mat-label>

        <mat-error *ngIf="formErrors.subTitle">{{formErrors.subTitle}}</mat-error>

        <input matInput type="text" formControlName="subTitle">
      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field class="post-form__input" appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput rows="5" formControlName="content"></textarea>

        <mat-error *ngIf="formErrors.content">{{formErrors.content}}</mat-error>

      </mat-form-field>
    </div>

    <div class="input-block">
      <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-select formControlName="tags" multiple>
          <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button type="submit" [disabled]="postForm.invalid || postForm.disabled" mat-raised-button color="primary">Save</button>
  </form>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
