@import '_variables';

.header {
  display: flex;
  justify-content: space-between;
  min-height: 100px;

  &__title {
    padding-top: 20px;
    color: $mainColor;
    font-size: 3rem;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__list-item {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

  }
}
