<aside class="tags">
  <mat-card>
    <div *ngIf="tags | async as tags; else loading" class="tags__content">
      <h3>Popular Tags</h3>
      <ul *ngIf="tags.length > 0; else empty" class="tags__list">
        <li *ngFor="let tag of tags" class="tags__item" (click)="onSelect(tag)">{{tag.name}}
        </li>
      </ul>
      <ng-template #empty>
        <div class="alert alert-warning">No tags are here ... yet</div>
      </ng-template>
    </div>

    <ng-template #loading>
      <app-loader></app-loader>
    </ng-template>

  </mat-card>
</aside>
