<aside class="tags">
  <mat-card>
    <div *ngIf="tags | async as tags" class="tags__content">
      <h3>Popular Tags</h3>

      <mat-chip-list *ngIf="tags.length; else emptyList">
        <mat-chip *ngFor="let tag of tags" (click)="onSelect(tag)">{{tag._id}}</mat-chip>
      </mat-chip-list>

      <ng-template #emptyList>
        <div class="alert alert-warning">No tags are here ... yet</div>
      </ng-template>
    </div>

    <app-loader *ngIf="isLoading | async"></app-loader>

  </mat-card>
</aside>
