@import '_variables';

.tags {

  mat-card{
    background-color: $cardBackColor;
    margin-left: 20px;
  }

  &__content {
    padding: 10px;
  }

  &__list {
    list-style: none;
    margin: -5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 6px;
    background-color: $mainColor;
    margin: 5px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }
}
